@import url("vue-toastification/dist/index.css");

.Vue-Toastification__toast-body {
    flex: 1;
    line-height: 20px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 400;
}

.Vue-Toastification__toast--error {
    background-color: #dc2626;
}

.Vue-Toastification__toast--success {
    background-color: #16a34a;
}

.Vue-Toastification__toast--warning {
    background-color: #f59e0b;
}

.Vue-Toastification__toast--info {
    background-color: #0284c7;
}
